[Desktop Entry]
Version=1.0
Type=Application
Name=__PERSONAL_AGENT_NAME__
Comment=__PERSONAL_AGENT_COMMENT__
Exec=__PERSONAL_AGENT_LAUNCHER__
TryExec=__PERSONAL_AGENT_LAUNCHER__
Icon=personal-agent
Terminal=false
Categories=Utility;Office;
StartupNotify=true
